#welcome {
  width: 100%;
  box-shadow: 0 2px 2px 2px black;
  margin-bottom: 2%;
  margin-left: 0;
  margin-right: 0;
}
#text {
  max-width: 100%;
  padding: 0 15%;
}
#text p {
  max-width: 80%;
  margin-bottom: 5%;
}
img {
  margin-bottom: 5%;
}
